@font-face {
    font-family: InterSemiBold;
    src: url(../public/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(../public/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: InterExtraBold;
    src: url(../public/fonts/Inter-ExtraBold.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: red;
}

body {
    margin: 0;
    font-family: InterBold, sans-serif;
    main {
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;
        text-align: center;
        animation: Show 1s linear forwards;
        @keyframes Show {
            0%, 50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }        
        h1 {
            font-size: 60px;
            font-family: InterExtraBold, sans-serif;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
            opacity: 0.9;
            margin-top: 10px;
            font-family: InterSemiBold, sans-serif;
            &::selection {
                background-color: transparent;
            }
        }
        #card {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                display: block;
                width: 50px;
                height: 50px;
                margin-right: 15px;
            }
            padding: 10px 15px;
            width: 530px;
            margin: 50px auto;
            border-radius: 15px;
            p {
                font-size: 30px;
            }
        }
        #platform {
            display: flex;
            justify-content: center;
            align-items: center;
            > span {
                margin-right: 15px;
            }
            > div {
                line-height: 1.1;
                text-align: left;
                span {
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                    opacity: 0.9;
                    font-family: InterSemiBold, sans-serif;
                    &::selection {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}