@font-face {
    font-family: InterSemiBold;
    src: url(../public/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(../public/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: InterExtraBold;
    src: url(../public/fonts/Inter-ExtraBold.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: red;
}

body {
    &::-webkit-scrollbar {
        display: none;
    }
    margin: 0;
    font-family: InterBold, sans-serif;
    #bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url(../public/images/bg.png) center no-repeat;
        background-size: cover;
        pointer-events: none;
    }
    main {
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;
        padding: 0 30px;
        text-align: center;
        animation: Show 1s linear forwards;
        @keyframes Show {
            0%, 50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        #content {
            position: relative;
            z-index: 1;
            width: 550px;
            margin: 0 auto;
            > h1 {
                position: relative;
                font-size: 64px;
                font-family: InterExtraBold, sans-serif;
                animation: ShowText 1s linear forwards;
                @keyframes ShowText {
                    0%, 50% {
                        top: -50px;
                    }
                    75% {
                        top: 5px;
                    }
                    90% {
                        top: -5px;
                    }
                    100% {
                        top: 0;
                    }
                }  
            }
            > h2 {
                font-size: 30px;
                font-family: InterSemiBold, sans-serif;
                span {
                    font-family: InterExtraBold, sans-serif;
                }
            }
            > h3 {
                cursor: default;
                font-size: 20px;
                opacity: 0.9;
                margin-top: 10px;
                font-family: InterSemiBold, sans-serif;
                &::selection {
                    background-color: transparent;
                }
            }
            a {
                color: currentColor;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                #card {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    *::selection {
                        background-color: transparent;
                    }
                    &:hover {
                        span {
                            border-radius: 5px;
                            svg {
                                opacity: 1;
                            }
                        }
                    } 
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        margin-right: 15px;
                        transition: border-radius 0.2s ease-in-out;
                        border-radius: 0px;
                        svg {
                            transition: opacity 0.2s ease-in-out;
                            opacity: 0;
                        }
                    }
                    padding: 10px 15px;
                    margin: 50px auto 25px auto;
                    border-radius: 15px;
                    p {
                        font-size: 30px;
                    }
                }
                #platform {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    *::selection {
                        background-color: transparent;
                    }
                    > span {
                        margin: 15px 15px 15px 0;
                    }
                    > div {
                        line-height: 1.1;
                        text-align: left;
                        span {
                            font-size: 25px;
                        }
                        p {
                            font-size: 12px;
                            letter-spacing: 1px;
                            opacity: 0.9;
                            font-family: InterSemiBold, sans-serif;
                        }
                    }
                }
            }
            section {
                margin-top: 25px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                h2 {
                    font-size: 35px;
                    margin: 10px 10px 15px 5px;
                    font-family: InterExtraBold, sans-serif;
                }
                p {
                    font-size: 19px;
                    margin: 10px;
                    opacity: 0.9;
                    font-family: InterSemiBold, sans-serif;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    main {
        margin: 25px 0!important;
        #content {
            width: 100%!important;
            > h1 {
                font-size: 30px!important;
                margin-bottom: 7.5px;
            }
            > h2 {
                font-size: 20px!important;
            }
            > h3 {
                font-size: 15px!important;
            }
            #card {
                flex-direction: column;
                padding: 10px 5px!important;
                span {
                    margin: 0 0 15px 0!important;
                }
                margin: 25px 0 10px 0!important;
                p {
                    font-size: 20px!important;
                }
            }
            #platform {
                flex-direction: column;
                justify-content: center!important;
                span {
                    margin: 20px 0 5px 0!important;
                }
                > div {
                    text-align: center!important;
                    line-height: 1.2!important;
                    span {
                        font-size: 20px!important;
                    }
                    p {
                        font-size: 11px!important;
                    }
                }
            }
            section {
                h2 {
                    margin: 7.5px!important;
                    font-size: 20px!important;
                }
                p {
                    font-size: 16px!important;
                    margin: 7.5px!important;
                }
                justify-content: center!important;
                align-items: center!important;
            }
        }
    }
}